<div class="bg-newbg">
<div class="container-fluid">

<nav class="navbar navbar-expand-xl navbar-dark " >
    <a class="navbar-brand" routerLink="/"><img src="./assets/images/pundoles-logo.png" id="logoImage" alt="logo"/></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample06" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clients <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Registration</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Items</a>
            </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/artist" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Masters
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/">Category</a>
              <a class="dropdown-item" routerLink="/">Symbol</a>
              <a class="dropdown-item" routerLink="/artist">Artist</a>
              <a class="dropdown-item" routerLink="/">Location</a>
              <a class="dropdown-item" routerLink="/auction-calendar">Auction Calendar</a>
            </div>
          </li>
    
        <li class="nav-item">
           <a class="nav-item nav-link " routerLink="/" routerLinkActive="active">Interest</a>
        </li>   
        <li class="nav-item">
           <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Buying Activity</a>
        </li>   
        <li class="nav-item">
           <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Selling Activity</a>
        </li>   
        <li class="nav-item">
           <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Under Bidding Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
       </li>
      </ul>
      
    </div>
  </nav>
</div>
</div>