<div class="container-fluid spacepx">

  <div class="row">
    
    <div class="col-lg-12 ">

        <div class="container-fluid">
            <form id="client-form" method="post" action="" role="form">

            <div class="messages"></div>

            <div class="controls">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="form_name">Salutation</label>
                        <select id="input_sex" class="form-control">
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="form_name">Name</label>
                        <input id="first_name" type="text" class="form-control" placeholder="Name">
                        <div id="first_name_feedback" class="invalid-feedback">
                            
                        </div>
                    </div>
                    <div class="form-group col-md-4 toplbelSpce">
                        <div class="float-right">
                            <a routerLink='/artist' class="btn link-btn">Cancel</a>
                            <button type="submit" class="btn btn-primary newbg">Update</button>
                          </div>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_name">Contact Type</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_lastname">Clients Number</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_email">Interests</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
              <div class="row">
               
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_phone">Categories</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_message">Customer Category</label>
                      <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_phone">Level</label>
                      <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_email">Catalogue</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_phone">Martial Status</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_email">Marriage Anniversary Date</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
              <div class="row">
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_phone">AM Customer ID</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_email">Approval Status</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_phone">Authorized To Bid</label>
                      <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_email">Email</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_phone">Phone</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_email">Fax</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
              <div class="row">
               
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_phone">Mobile</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_email">Other Phone</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="form_phone">Client VAT TIN No</label>
                      <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
            
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_email">Aadhar Number</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="form_phone">PAN No</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
        
              </div>
             
            </div>

            </form>
    </div>
    </div>

  </div>

</div>